<!DOCTYPE html>
<html>
<head>
    <title>Configuration store</title>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="lib/materialize/css/materialize.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="lib/materialize/js/materialize.js"></script>

    <script type="text/javascript" src="lib/react/react.js"></script>
    <script type="text/javascript" src="lib/react/react-dom.js"></script>

    <script type="text/javascript" src="lib/require/require.js"></script>
    <script type="text/javascript">
        requirejs.config({
            baseUrl: '/lib/app'
        });

        require(['ConfigurationList'], function (config) {
            console.log('loaded stuff');
        });
    </script>
</head>
<body>
    <div id="root"></div>
    @Section['Content'];
</body>
</html>