.config-store {
    margin-top: 2em;
    font-size: 1.3em;

    .search-form-container{
        margin-top: 1em;
    }

    .search-form{
        button{
            margin-right: 0.2em;
        }
    }

    .modal-key{
        font-weight:bold;
    }
}
