<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.2" targetFramework="net461" />
  <package id="AutoMapper" version="6.2.1" targetFramework="net461" />
  <package id="JetBrains.Annotations" version="11.0.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.1.0" targetFramework="net461" />
  <package id="Nancy" version="1.4.4" targetFramework="net461" />
  <package id="Nancy.Bootstrappers.Autofac" version="1.4.1" targetFramework="net461" />
  <package id="Nancy.Metadata.Modules" version="1.4.1" targetFramework="net461" />
  <package id="Nancy.Owin" version="1.4.1" targetFramework="net461" />
  <package id="Nancy.Serialization.JsonNet" version="1.4.1" targetFramework="net461" />
  <package id="Nancy.Swagger" version="2.1.1-alpha" targetFramework="net461" />
  <package id="Nancy.Viewengines.Razor" version="1.4.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="Swagger.ObjectModel" version="2.1.1-alpha" targetFramework="net461" />
</packages>