{{define "content"}}

    <link type="text/css" rel="stylesheet" href="/static/styles/app/pages/ConfigurationList.css" />

    <script>
        require.config({
            baseUrl: '../static'
        });

        requirejs(['app/pages/ConfigurationListPage'], function (configKeyPage)
        {
            var data = {{.}};

            var element = React.createElement(configKeyPage.default, data);
            var rootElement = document.getElementById('root');

            ReactDOM.render(element, rootElement);
        });
    </script>

{{end}}