.config-store {
  margin-top: 2em;
  font-size: 1.3em; }
  .config-store .search-form-container {
    margin-top: 1em; }
  .config-store .search-form button {
    margin-right: 0.2em; }
  .config-store .modal-key {
    font-weight: bold; }
